.lessons {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.lessons__link {
  @include font-group($size-16, $line-115);
  color: $color-charcoal;

  &:hover {
    font-weight: 600;
    border-bottom: 1px solid $color-charcoal;
  }

  &:active {
    color: $color-header-overlay;
    border: none;
  }
}
