.main-screen {
  padding: 65px 0;

  @media (max-width: $vp-1023) {
    padding: 40px 0;
  }

  @media (max-width: $vp-767) {
    padding: 30px 0;
  }
}

.js-main-screen--opened {
  @media (max-width: $vp-1023) {
    padding-top: 146px;
  }

  @media (max-width: $vp-767) {
    padding-top: 115px;
  }
}

.main-screen__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0 65px;

  @media (max-width: $vp-1023) {
    flex-direction: column;
    gap: 0;
    padding: 0 80px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    padding: 0;
  }
}

.main-screen__inner-wrapper {
  display: block;
  width: 503px;
  padding-bottom: 96px;

  @media (max-width: $vp-1023) {
    width: 100%;
    padding-bottom: 40px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 20px;
  }
}

.main-screen__title {
  margin-top: 0;
  margin-bottom: 15px;

  @include font-group-bold($size-46, $line-150);
  color: $color-burnt-orange;
  text-shadow: 0 4px 4px rgba(255, 215, 75, 0.25);
  text-transform: uppercase;

  @media (max-width: $vp-767) {
    font-size: 40px;
    line-height: 130%;
  }
}

.main-screen__lead {
  margin-top: 0;
  margin-bottom: 20px;

  @include font-group-semibold($size-24, $line-150);
  color: $color-midnight-express;

  @media (max-width: $vp-767) {
    font-size: 18px;
    line-height: 130%;
  }
}

.js-main-screen__wrapper--dark .main-screen__lead {
  color: $color-energy-yellow;
}

.main-screen__text {
  @include font-group($size-24, $line-130);
  color: $color-charcoal;

  @media (max-width: $vp-767) {
    font-size: 16px;
  }
}

.js-main-screen__wrapper--dark .main-screen__text {
  color: $color-white-smoke;
}

.main-screen__image {
  display: block;
  width: 491px;
  height: auto;

  background-image: url("../img/content/main-screen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-resolution: 2dppx) {
    background-image: url("../img/content/main-screen@2x.jpg");
  }

  @media (max-width: $vp-1023) {
    width: 518px;
    height: 388px;
    margin: 0 auto;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    max-width: 290px;
    height: 218px;
  }
}
