.nav {
  @media (max-width: $vp-1023) {
    display: none;
  }
}

.js-nav--opened {
  @media (max-width: $vp-1023) {
    display: block;
    margin-bottom: 30px;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__list-item {
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $vp-1023) {
    margin-right: 0;
  }
}

.js-nav--opened .nav__list-item {
  width: 100%;
}

.nav__list-link {
  @include font-group-bold($size-20, $line-150);
  color: $color-default-white;

  &:hover {
    color: $color-energy-yellow;
    cursor: pointer;
  }

  &:active {
    color: $color-energy-yellow-fade;
  }

  @media (max-width: $vp-1023) {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.js-nav--opened .nav__list-link {
  color: $color-midnight-express;

  &:hover {
    color: $color-energy-yellow;
  }

  &:active {
    color: $color-header-overlay;
  }
}

.js-nav__list-link--dark {
  color: $color-midnight-express;

  &:hover {
    color: $color-supernova;
  }

  &:active {
    color: $color-supernova-fade;
  }
}
