.news {
  display: block;

  width: calc(50% - 10px);
  padding: 20px 35px 29px;

  background-color: $color-white-smoke;
  border-radius: 15px;

  @media (max-width: $vp-1023) {
    width: 100%;
  }

  @media (max-width: $vp-767) {
    padding: 16px 0 20px;

    border-radius: 0;
  }
}

.news__title {
  margin-top: 0;
  margin-bottom: 2px;
  margin-left: 8px;

  @include font-group-bold($size-24, $line-150);
  color: $color-neon-carrot;
  text-transform: uppercase;

  @media (max-width: $vp-1023) {
    margin-left: 0;
    text-align: center;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 16px;
  }
}

.news__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;

  @media (max-width: $vp-767) {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.news__link {
  display: block;
  width: 120px;
  margin-right: 0;
  margin-left: auto;
  padding: 10px 15px 9px;

  @include font-group-semibold($size-12, $line-12);
  color: $color-midnight-express;
  text-transform: uppercase;

  background-color: $color-energy-yellow;
  border-radius: 10px;

  &:hover {
    background-color: $color-supernova;
  }

  &:active {
    color: $color-midnight-express-fade;
  }

  @media (max-width: $vp-1023) {
    margin-right: auto;
  }

  @media (max-width: $vp-767) {
    width: calc(100% - 30px);
    padding: 15px 15px 13px;
    text-align: center;
  }
}
