.page-main--blank {
  width: 100%;
  margin: 150px auto 0 auto;
  text-align: center;

  @include font-group-bold($size-46, $line-150);
  color: $color-midnight-express;

  @media (max-width: $vp-767) {
    margin-top: 110px;
  }
}

.page-main--blank p {
  margin-top: 0;
  margin-bottom: 70px;

  @media (max-width: $vp-767) {
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
  }
}

.page-main--blank a {
  padding: 15px 50px;

  @include font-group-semibold($size-40, $line-115);
  color: $color-midnight-express;

  background-color: $color-energy-yellow;
  border-radius: 10px;

  &:hover {
    background-color: $color-supernova;
  }

  &:active {
    color: $color-midnight-express-fade;
  }

  @media (max-width: $vp-767) {
    padding: 10px 30px;

    font-size: 24px;
    text-transform: uppercase;
  }
}

.page-main__conf-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 65px;

  @media (max-width: $vp-1023) {
    flex-direction: column;
    margin-bottom: 40px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 30px;
  }
}

.page-main__title-group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 45px auto;
}

.page-main__title {
  margin: 0;

  @include font-group-bold($size-46, $line-150);
  text-transform: uppercase;
  color: $color-burnt-orange;
  text-shadow: 0 4px 4px rgba(255, 215, 75, 0.25);
}

.page-main__text {
  margin: 0;

  @include font-group-semibold($size-24, $line-150);
  color: $color-midnight-express;
}

.page-main__title-group

.js-page-main__text--dark {
  color: $color-default-white;
}

.page-main__pages-title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;

  @include font-group-bold($size-48, $line-130);
  color: $color-warning;
}

.js-page-main__pages-title--dark {
  text-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}
