// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/dc143c

$color-midnight-express: #192144;
$color-midnight-express-fade: rgba(25, 33, 68, 0.2);
$color-burnt-orange: #f26926;
$color-neon-carrot: #ff8d30;
$color-supernova: #ffbd30;
$color-supernova-fade: rgba(255, 189, 48, 0.5);
$color-energy-yellow: #ffd74b;
$color-energy-yellow-fade: rgba(255, 251, 75, 0.3);
$color-midnight-blue: #132576;
$color-lavender: #e2e5f2;
$color-white-smoke: #f6f6f6;
$color-charcoal: #444444;
$color-warning: #dc143c;
$color-new-hover: rgba(220, 20, 60, 0.1);
$color-header-overlay: rgba(22, 28, 53, 0.5);

// Gradient

$black-to-right: linear-gradient(90deg,
  rgba(0, 0, 0, 0.75) 0%,
  rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble",
  "Arial",
  sans-serif;

$ff-placeholder: "Placeholder",
  "Arial",
  sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-416: 416px;
$vp-767: 767px;
$vp-768: 768px;
$vp-1023: 1023px;
$vp-1024: 1024px;
$vp-1045: 1045px;
$vp-1210: 1210px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Font-sizes
// ---------------------------------
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-32: 32px;
$size-40: 40px;
$size-46: 46px;
$size-48: 48px;
// ---------------------------------
$auto: 1.22;
$line-12: 12px;
$line-16: 16px;
$line-24: 24px;
$line-115: 115%;
$line-130: 130%;
$line-150: 150%;
